#title {
    font-family: 'Cedarville Cursive';
    text-align: center;
    font-size: xx-large;
    color: aliceblue;
}

.mydiv{
    font-family: 'Caveat';
    text-align: right;
    color: rgb(209, 218, 218);
    font-size: x-large;
}

#eh{
    font-family: 'Caveat';
    text-align: right;
    color: aliceblue;
    font-size: 28px;
}

body{
    background-color: black;
}